* {
    font-family: 'Noto Sans KR', 'Poppins';
}

.container {
    width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.imgBox {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    margin-bottom: 20px;
}

.lTxtBox {
    text-align: center;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 60px;
    margin-bottom: 20px;
}

.buttonContainer>button {
    width: 120px;
    height: 35px;
    border-radius: 10px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.cancelBtn {
    background-color: white;
    border: 1px solid #D4D4D4;
    color: #999999;
}

.nextBtn {
    background-color: #005600;
    border: 0;
    color: white;
}