.container {
    width: 1180px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titleBox {
    width: 100%;
    height: 60px;
    margin-top: 60px;
    display: block;
    text-align: center;
}

.titleBox>p {
    font-weight: bold;
    font-size: 24px;
}

.seqBox {
    width: 624px;
    height: 96px;
    margin: 0 auto;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 0;
}

.seqBox>hr {
    width: 100%;
    height: 2px;
    background: #005600;
    border: 0;
    position: absolute;
    z-index: 0;
}

.wrapper {
    width: 624px;
    height: 96px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.circleNow {
    width: calc(1em / 0.7);
    height: calc(1em / 0.7);
    border-radius: 50%;
    background-color: #005600;
    border: 3px solid #005600;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 36px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: calc(1em / 0.7);
    height: calc(1em / 0.7);
    border-radius: 50%;
    background-color: white;
    border: 3px solid #005600;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 36px;
    color: #005600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txtBox {
    width: 624px;
    height: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
    z-index: 1;
}

.txtBox>p {
    font-weight: 500;
    font-size: 16px;
    color: #999999;
    margin-top: -12px;
}