.container {
    width: 960px;
    margin: 0 auto;
    padding: 30px;
}

.titleBox {
    display: flex;
}

.titleBox p {
    font-weight: bold;
    font-size: 24px;
}

.emptyBox {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emptyBox img {
    width: 100px;
    margin: 0 auto;
}

.emptyBox p {
    font-weight: bold;
    font-size: 16px;
    color: #999999;
}

.productsBox {
    display: grid;
    justify-content: center;
    grid-template-columns: 300px 300px 300px;
    gap: 20px;
}