/* 전체 */
.display_post
{
    width: 1180px;
    margin: 0 auto;
}
/* 상단 post */
.post_num {font-size: 14px; color: #999999; padding-top: 60px; padding-left: 10px;}
.post_title {font-size: 24px; padding-left: 10px;}
.post_user {display: flex; align-items: baseline; color: #999999;}
.post_user_button {display: flex; justify-content: space-between;}
.post_nick {font-size: 16px; padding-right: 8px; padding-left: 10px;}
.post_day {font-size: 14px;}

/* button */
.button_modify {width: 110px; height: 30px; background-color: #005600; border-radius: 5px;color: white; border: none; margin: 8px; font-size: 14px;}
.button_list
{width: 110px; height: 30px; background-color: #005600; border-radius: 5px; color: white; border: none; margin: 8px; font-size: 14px;}

.button_delete {
    width: 110px;
    height: 30px;
    background-color: #D9D9D9;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    
}

.button_siren 
{
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;
    margin-top: 20px;
    margin-right: 8px;
}

.sin_go
{
    padding: 8px;
}
.hr_post
{
    padding-left: 10px;
    height: 500px;
}
.comment_title
{
    font-size: 18px;
    padding-left: 26px;
}

/* 댓글 쓰기 기능 */
.comment_wrap
{
    display: flex;
    justify-content: center;
}
.comment_box
{
    width: 1000px;
    height: 40px;
    border: 1px solid;
    border-radius: 10px;
    padding-left: 8px;
    color: #005600;
}
.comment_button
{

    width: 70px;
    height: 32px;
    background-color: #005600;
    border: none;
    border-radius: 5px;
    color: white;
    position: absolute;
    margin-top: 6px;

}




/* 말풍선 테스트 */
.wrap {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.chat {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.textbox {
    max-width: 500px;
    word-wrap: break-word;
    background-color: #f1f0f0;
    padding: 10px;
    border-radius: 10px;
}

.ch1 .textbox::before {
    content: "User 1: ";
    color: blue;
    font-weight: bold;
}

.ch2 .textbox::before {
    content: "User 2: ";
    color: green;
    font-weight: bold;
}