.display_post
{
    width: 1180px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;

}
.no_1
{
    font-size: 14px;
    padding-top: 60px;
}
.post_title
{
    font-size: 24px;
    
}
.post_nick
{
    display: flex;
}
.member_button_line
{
    display: flex;
    justify-content: space-between;
}

.buttons
{
    width: 110px;
    height: 30px;
    background-color: #005600;
    border-radius: 5px;
    color: white;
    border: none;
    margin: 8px;
}