/* 폰트 */
* {font-family: 'Noto Sans Kr', 'Poppins';}
/* 전체 */
.w_all_display {width: 1160px; margin: 0 auto;}
/* 제목 */
.w_title {padding-right: 8px; font-size: 24px; vertical-align: sub;}
.w_title_box{margin-top: 60px; margin-bottom: 20px; width: 500px; height: 40px; border-radius: 10px; border-color: #D4D4D4; border-style: solid;}
/* 입력 */
.w_context
{
    height: 500px;

}
.w_context_text {width: 98%; border: none; margin-top: 20px; margin-bottom: 20px; padding-left: 10px;}
/* 버튼 */
.button_interval
{
    height: 100px;
    display: flex;
    justify-content: end;
    margin: 20px;
}
.button_cancel {background-color: white; width: 110px; height: 30px; border-color: #63C54A; border-radius: 10px; border-style: solid; cursor: pointer;}
.button_writing {width: 110px; height: 30px; background-color: #005600; color: white; border-radius: 10px; margin-left: 20px; cursor: pointer;}

/* textarea 효과 */
textarea {resize: none;}
textarea:focus {outline: none;}


.modalContainer {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.26);
    /* 반투명한 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
  
.modalContent {
    width: 500px;
    height: 260px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    margin: 0 auto;
    grid-template-rows: 2fr 1fr;
    display: block;
}

.modalTextContainer{
    width: 500px;
    height: 50px;
    margin: 0 auto;
    margin-top: 50px;
    align-items: center;
}

.modal_content {
    justify-content: center;
    color: #000;
    font-size: 16px;
    font-weight: 600;
  }

.btnContainer{
    display: flex;
    justify-content:space-evenly;
    height: 30px;
    width: 300px;
    margin: 0 auto;
    margin-top: 55px;
}

.modalCloseBtn {
    
    border-radius: 10px;
    width: 120px;
    height: 38px;
    border:1px solid #63C54A;
    color: #999999;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }

  .modalDeleteBtn {
    border-radius: 10px;
    width: 120px;
    height: 38px;
    background-color: #005600;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
  }

  /* 2차 모달 버튼 */
.iconContainer {
    margin-top: 45px;
}

.modalContent1 {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    height: 260px;
    text-align: center;
    grid-template-rows: 2fr 1fr;
} 
.modalContent1> button {margin: 10px; border-radius: 10px; width: 120px; height: 38px; background-color: #005600; font-size: 16px; font-weight: bold; color: white; border: none; cursor: pointer;}
/* 모달 버튼*/
.btnContainer1 {display: flex; justify-content: center;gap: 22px;/* margin-top: 120px; */margin-bottom: 20px;}
.btnContainer1>button {width: 112px;height: 32px; border-radius: 5px; cursor: pointer;}