/* 폰트 */
* {font-family: 'Noto Sans Kr', 'Poppins';}
/* 전체 */
.display_post
{
    width: 1180px;
    margin: 0 auto;
}
/* 상단 post */
.post_num {font-size: 14px; color: #999999; padding-top: 60px; padding-left: 10px;}
.post_title {font-size: 24px; padding-left: 10px;}
.post_user {display: flex; align-items: baseline; color: #999999;}
.post_user_button {display: flex; justify-content: space-between;}
.post_nick {font-size: 16px; padding-right: 8px; padding-left: 10px;}
.post_day {font-size: 14px;}

/* button */
.button_modify {width: 110px; height: 30px; background-color: #005600; border-radius: 5px;color: white; border: none; margin: 8px; font-size: 14px; cursor: pointer;}
.button_list{width: 110px; height: 30px; background-color: #005600; border-radius: 5px; color: white; border: none; margin: 8px; font-size: 14px; cursor: pointer;}
.button_delete {width: 110px; height: 30px; background-color: #ffffff; font-size: 14px; border: 1px solid #D4D4D4; border-radius: 5px; margin-left: 20px; color: #999999; cursor: pointer;}
.button_siren {display: flex; justify-content: end; flex-direction: row-reverse; margin-top: 20px; margin-right: 8px;}

/* 신고 버튼 */
.report_button {border: none; background-color: white; cursor: pointer;}
.report_font
{
    font-size: 14px;
    color: #999999;
}


.hr_post
{
    padding-left: 10px;
    height: 500px;
}
.comment_title
{
    font-size: 18px;
    padding-left: 20px;
}
.comment_nick
{
    font-size: 16px;
}
.comment_date
{
    font-size: 14px;
}
.comment_context
{
    font-size: 16;
    padding-left: 26px;
}


/* 댓글 쓰기 기능 */
.comment_wrap
{
    display: flex;
    justify-content: center;
}
.comment_box
{
    width: 1000px;
    height: 40px;
    border: 1px solid;
    border-radius: 10px;
    padding-left: 8px;
    color: #005600;
}
.comment_button
{

    width: 70px;
    height: 32px;
    background-color: #005600;
    border: none;
    border-radius: 5px;
    color: white;
    position: absolute;
    margin-top: 6px;
    margin-left: 924px;

}

.modalContainer {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.26);
    /* 반투명한 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
  
.modalContent {
    width: 500px;
    height: 260px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    margin: 0 auto;
    grid-template-rows: 2fr 1fr;
    display: block;
}

.modalTextContainer{
    width: 500px;
    height: 50px;
    margin: 0 auto;
    margin-top: 50px;
    align-items: center;
}

.modal_content {
    justify-content: center;
    color: #000;
    font-size: 16px;
    font-weight: 600;
  }

.btnContainer{
    display: flex;
    justify-content:space-evenly;
    height: 30px;
    width: 300px;
    margin: 0 auto;
    margin-top: 55px;
}

.modalCloseBtn {
    
    border-radius: 10px;
    width: 120px;
    height: 38px;
    border:1px solid #63C54A;
    color: #999999;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }

  .modalDeleteBtn {
    border-radius: 10px;
    width: 120px;
    height: 38px;
    background-color: #005600;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
  }

  /* 2차 모달 버튼 */
.iconContainer {
    margin-top: 45px;
}

.modalContent1 {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    height: 260px;
    text-align: center;
    grid-template-rows: 2fr 1fr;
} 
.modalContent1> button {margin: 10px; border-radius: 10px; width: 120px; height: 38px; background-color: #005600; font-size: 16px; font-weight: bold; color: white; border: none; cursor: pointer;}
/* 모달 버튼*/
.btnContainer1 {display: flex; justify-content: center;gap: 22px;/* margin-top: 120px; */margin-bottom: 20px;}
.btnContainer1>button {width: 112px;height: 32px; border-radius: 5px; cursor: pointer;}


/* 신고 모달 */
.reportContainer
{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
/* 신고 버튼*/
.modalReportBtn2
{
    width: 120px;
    height: 38px;
    background-color: #005600;
    border: none;
    color: white;
    border-radius: 10px;
}
.btnContainer2{
    display: flex;
    justify-content:space-evenly;
    height: 30px;
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
}
.interval{
    padding-left: 20px;
    padding-right: 10px;
}

