*{
    font-family: 'Noto Sans KR', 'Poppins';
}

.container{
    display: flex;
    width: 1180px;
    margin: 0 auto;
    justify-content: center;
    min-height: calc(100vh - 218px);
}

.box {
    display: flex;
    width: 500px;
    height: 360px;
    border-radius: 12px;
    border-color: #005600;
    border-width: 2px;
    border-style: solid;
    margin-top: 14%;
    margin-bottom: 8%;
    box-shadow: 0px 2px 5px 0px #A6C4A6;
    /* align-content: space-evenly; */
    /* justify-items: center; */
    flex-direction: column;
}

.findBox {
    display: flex;
    width: 100%;
    height: 84px;
    align-content: space-between;
    text-align: center;
    /* border-bottom: 1px #005600 solid; */
}

.findBox>div {
    display: block;
    width: 50%;
    height: 35%;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 20px;
    cursor: pointer;
}

.findBox>div:hover {
    text-decoration: underline;
    font-weight: bold;
}

.findId {
    border-right: 1px solid #D4D4D4;
    color: #63C54A;
    font-weight: bold;
    /* border-bottom: 1px solid #005600; */
}

.findPw {
    color: #999999;
    font-weight: 400;
}

.titleBox {
    display: block;
    width: 100%;
    height: 60px;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
}

.title {
    color: #63C54A;
    font-weight: bold;
    font-size: 24px;
}

.infoBox {
    display: flex;
    height: 200px;
    width: 460px;
    margin-top: 50px;
    margin-left: 40px;
    align-content: space-evenly;
    justify-items: center;
    flex-wrap: wrap;        /* 이메일, 비밀번호 박스 세로 정렬*/
}

.phoneBox {
    display: flex;
    width: 100%;
    height: 40px; 
    margin-top: 10px;
}

.phoneBox> label {
    font-size: 18px;
    margin-top: 4px;
    margin-right: 75px;
    margin-left: 15px;
}

.phoneInputBox> input {
    width: 260px;
    height: 30px;
    border: 1px solid #D4D4D4;
    border-radius: 5px;
    margin-right: 20px;
    padding-left: 5px;
}

.phoneInputBox> input::placeholder {
    font-size: 12px;
    color: #999999;
}

.phoneInputBox> p {
    font-size: 12px;
    font-weight: 400;
    color: #999999;
    margin-top: -1px;
    margin-left: 4px;
}

.btnContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 22px;
    margin-top: 46px;
    margin-bottom: 20px;
    margin-left: -30px;
}

.btnContainer>button {
    width: 112px;
    height: 32px;
    border-radius: 5px;
}

.btnContainer> button:hover {
    cursor: pointer;
}

.leftBtn {
    background-color: white;
    color: #999999;
    border: 1px solid #63C54A;
}

.rightBtn {
    background-color: #005600;
    border: 1px solid #005600;
    color: white;
}


.resultBox {
    display: flex;
    width: 70%;
    height: 70px;
    justify-items: center;
    align-content: center;
    align-items: center;
    flex-direction: column; 
    /* text-align: center; */
    margin-left: 40px;
}

.resultBox> div {
    display: block;
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
}


.userIdBox> label {
    margin-right: 40px;
    color: #999999;
    font-weight: 500;
}

.signupDateBox> label {
    margin-right: 40px;
    color: #999999;
    font-weight: 500;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 22px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: -30px;
}

.buttonContainer>button {
    width: 112px;
    height: 32px;
    border-radius: 5px;
}

.buttonContainer> button:hover {
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.26);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.modalContent {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    height: 260px;
    text-align: center;
    grid-template-rows: 2fr 1fr;
}

.iconContainer {
    margin-top: 45px;
}

.iconContainer> img {
    width: 64px;
    height: 64px;
}

.modalTextContainer{
    width: 500px;
    height: 50px;
    margin: 0 auto;
    margin-top: 30px;
    align-items: center;
}

.modalTextContainer> p {
    justify-content: center;
    color: #000;
    font-size: 16px;
    font-weight: 600;
  }

.modalContent> button {
    margin: 10px;
    border-radius: 10px;
    width: 120px;
    height: 38px;
    background-color: #005600;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
}

.modalButtonContainer {
    display: flex;
    justify-content: center;
    gap: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.modalButtonContainer>button {
    width: 112px;
    height: 32px;
    border-radius: 5px;
    cursor: pointer;
}