*{
    font-family: 'Noto Sans KR', 'Poppins';
}

.container{
    display: flex;
    width: 1180px;
    margin: 0 auto;
    justify-content: center;
}

.box {
    display: flex;
    width: 480px;
    height: 540px;
    border-radius: 12px;
    border-color: #005600;
    border-width: 2px;
    border-style: solid;
    margin-top: 8%;
    margin-bottom: 4%;
    box-shadow: 0px 2px 5px 0px #A6C4A6;
    /* align-content: space-evenly; */
    /* justify-items: center; */
    flex-direction: column;
}

.titleBox {
    display: block;
    width: 100%;
    height: 60px;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
}

.title {
    color: #63C54A;
    font-weight: bold;
    font-size: 24px;
}

.infoBox {
    display: flex;
    height: 200px;
    width: 460px;
    margin-top: 80px;
    margin-left: 30px;
    align-content: space-evenly;
    justify-items: center;
    flex-wrap: wrap;        /* 이메일, 비밀번호 박스 세로 정렬*/
}

.idBox {
    display: flex;
    width: 100%;
    height: 40px; 
}

.idBox> label {
    font-size: 16px;
    margin-right: 36px;
}

.idBox> input {
    width: 210px;
    height: 24px;
    border: 1px solid #D4D4D4;
    border-radius: 5px;
    margin-right: 20px;
    padding-left: 5px;
}

.idBox> input::placeholder {
    font-size: 12px;
    color: #999999;
}

.idBox> button {
    width: 100px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #005600;
    color: #005600;
    font-size: 14px;
    font-weight: 500;
}

.numBox {
    display: flex;
    width: 100%;
    height: 40px; 
}

.numBox> label {
    font-size: 16px;
    margin-right: 22px;
}

.numBox> input {
    width: 210px;
    height: 24px;
    border: 1px solid #D4D4D4;
    border-radius: 5px;
    margin-right: 20px;
    padding-left: 5px;
}

.numBox> input::placeholder {
    font-size: 12px;
    color: #999999;
}

.numBox> button {
    width: 100px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #005600;
    color: #005600;
    font-size: 14px;
    font-weight: 500;
}

.pwdBox {
    display: flex;
    width: 100%;
    height: 50px; 
}

.pwdBox> label {
    font-size: 18px;
    margin-left: 5px;
    margin-right: 75px;
}

.pwdInputBox> input {
    width: 260px;
    height: 30px;
    border: 1px solid #D4D4D4;
    border-radius: 5px;
    margin-right: 20px;
    padding-left: 5px;
}

.pwdInputBox> input::placeholder {
    font-size: 12px;
    color: #999999;
}
.pwdHideBox {
    position: absolute;
    margin-top: -28px;
    margin-left: 240px;
}

.pwdHideBox> img {
    width: 22px;
}

.pwdInputBox> p {
    font-size: 10px;
    font-weight: 400;
    color: #999999;
    margin-left: 4px;
}

.pwdReBox {
    display: flex;
    width: 100%;
    height: 50px;
    margin-top: 30px; 
}

.pwdReBox> label {
    font-size: 18px;
    margin-left: 6px;
    margin-right: 38px;
}

.pwdReInputBox> input {
    width: 260px;
    height: 30px;
    border: 1px solid #D4D4D4;
    border-radius: 5px;
    margin-right: 20px;
    padding-left: 5px;
}

.pwdReInputBox> input::placeholder {
    font-size: 12px;
    color: #999999;
}

.rePwdHideBox {
    position: absolute;
    margin-top: -28px;
    margin-left: 240px;
}

.rePwdHideBox> img {
    width: 22px;
}

.pwdReInputBox> p {
    font-size: 10px;
    font-weight: 400;
    color: #999999;
    margin-left: 4px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 22px;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: -30px;
}

.buttonContainer>button {
    width: 112px;
    height: 32px;
    border-radius: 5px;
}

.buttonContainer> button:hover {
    cursor: pointer;
}

.cancelBtn {
    background-color: white;
    color: #999999;
    border: 1px solid #63C54A;
}

.updateBtn {
    background-color: #005600;
    border: 1px solid #005600;
    color: white;
}