* {
    font-family: 'Noto Sans KR', 'Poppins';
}

.container {
    display: flex;
    width: 1180px;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
}

.titleBox {
    display: block;
    width: 100%;
    height: 60px;
    margin-top: 60px;
    text-align: center;
}

.titleBox> p {
    font-size: 24px;
    font-weight: bold;
}

.seqBox {
    display: flex;
    margin: 0 auto;
    margin-top: 48px;
    width: 624px;
    height: 96px;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 0;
}

.seqBox> hr {
    width: 100%;
    height: 2px;
    background: #005600;
    border: 0;
    z-index: 0;
    position: absolute;
}

.wrapper {
    display: flex;
    width: 624px;
    height: 96px;
    align-items: center;
    margin: 0 auto;
    z-index: 1;
}

.circle1 {
    border-radius: 50%;
    color: #005600;
    background-color: white;
    border: 3px solid #005600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(1em / 0.7);
    height: calc(1em / 0.7);
    font-size: 36px;
    font-weight: bold;
    font-family: 'Poppins';
    margin-right: 134px;
}


.circle2 {
    border-radius: 50%;
    color: white;
    background-color: #005600;
    border: 3px solid #005600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(1em / 0.7);
    height: calc(1em / 0.7);
    font-size: 36px;
    font-weight: bold;
    font-family: 'Poppins';
    margin-right: 134px;
}

.circle3 {
    border-radius: 50%;
    color: #005600;
    background-color: white;
    border: 3px solid #005600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(1em / 0.7);
    height: calc(1em / 0.7);
    font-size: 36px;
    font-weight: bold;
    font-family: 'Poppins';
    margin-right: 134px;
}

.circle4 {
    border-radius: 50%;
    color: #005600;
    background-color: white;
    border: 3px solid #005600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(1em / 0.7);
    height: calc(1em / 0.7);
    font-size: 36px;
    font-weight: bold;
    font-family: 'Poppins';
}


.txtBox {
    display: flex;
    width: 624px;
    height: 20px;
    align-content: space-between;
    align-items: center;
    margin: 0 auto;
    z-index: 1;
    flex-direction: column;
    flex-wrap: wrap;
}

.txtBox> p {
    font-size: 16px;
    font-weight: 500;
    color: #999999;
    margin-top: -12px;
}

.subTitleBox {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 50px;
    text-align: center;
}

.subTitleBox> p {
    font-size: 24px;
    font-weight: 500;
}

.inputBoxes  {
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
    width: 588px;
    height: 94px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.emailBox {
    display: block;
    width: 100%;
}

.emailBox> label {
    margin-right: 87px;
    font-size: 20px;
}

.emailBox> input {
    width: 300px;
    height: 28px;
    margin-right: 26px;
    border-radius: 5px;
    border: 1px solid #D4D4D4;
}

.emailBox> button {
    width: 112px;
    height: 32px;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #005600;
    color: #005600;
    font-size: 14px;
    font-weight: 500;
}

.numberBox {
    display: block;
    width: 100%;
}

.numberBox> label {
    margin-right: 69px;
    font-size: 20px;
}

.numberBox> input {
    width: 300px;
    height: 28px;
    margin-right: 26px;
    border-radius: 5px;
    border: 1px solid #D4D4D4;
}

.numberBox> button {
    width: 112px;
    height: 32px;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #005600;
    color: #005600;
    font-size: 14px;
    font-weight: 500;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 26%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.modalContent {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.modalContent button {
    margin: 10px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 22px;
    margin-top: 120px;
    margin-bottom: 20px;
}

.buttonContainer>button {
    width: 112px;
    height: 32px;
    border-radius: 5px;
    cursor: pointer;
}

.cancelBtn {
    background-color: white;
    color: #999999;
    border: 1px solid #63C54A;
}

.nextBtn {
    background-color: #005600;
    border: 1px solid #005600;
    color: white;
}