.outerContainer {
    width: 100%;
    /* height: calc(100vh - 220px); */
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerContainer {
    width: 1180px;
    height: 500px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: start; */
    margin-top: -100px;
}

.innerContainer h1 {
    text-align: center;
    color: rgba(99, 197, 74, 1);
}

.innerContainer h2 {
    margin-top: 30px;
    text-align: center;
    color: rgba(99, 197, 74, 1);
}

.background {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.background img {
    width: 250px;
    opacity: 0.5;
    z-index: -1;
}

.chatContainer {
    position: relative;
    left: 16%;
    top: -75%;
    width: 800px;
    height: 450px;
    margin: 0;
    padding: auto;
}