.mainBox {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.curationText {
    font-size: 36px;
    font-weight: bold;
    color: #005600;
}

.barBox {
    display: flex;
}

.runDog{
    position: absolute;
}

.bar {
    width: 850px;
    height: 20px;
    background-color: #005600;
    margin-top: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.progressBar {
    width: 107px;
    height: 20px;
    background-color: #005600;
    opacity: 10%;
    margin-top: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.contentBox {
    display: flex;
    margin-top: 76px;
    width: 1131px;
    justify-content: space-between;
}

.textAndBox {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.textAndBox:hover {
    transform: scale(1.1);
}

.selectBox {
    width: 219px;
    height: 219px;
    border-radius: 10px;
    border: 1px solid #D4D4D4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 20px;
    font-weight: bold;
    color: #999999;
    text-align: center;
}