.mainBox {
    width: 1180px;
    margin: 0 auto;
}

.titleBox {
    display: flex;
    margin-top: 65px;
    margin-left: 114px;
}

.nameBox {
    display: flex;
    margin-left: 114px;
}

.productsBox {
    display: flex;
    width: 955px;
    margin-left: 114px;
    flex-direction: row;
    flex-wrap: wrap;
}

.emptyMessageBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.emptyMessage {
    font-size: 30px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
}

.productBox {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 90px;
    margin-bottom: 100px;
}

.imgBox {
    width: 80%;
}

.textBox {
    display: flex;
    margin-top: 50px;
}

.textBox1 {
    display: flex;
    margin-top: 15px;
    width: 380px;
}

.text {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.productText {
    font-size: 16px;
    font-weight: bold;
    color: #999999;
    margin-left: 10px;
    padding: 0;
    width: 310px;
}

.detailButton {
    width: 150px;
    height: 45px;
    background-color: #005600;
    border-radius: 10px;
    border: 1px solid #005600;
    margin-top: 20px;
    color: white;
    margin-left: 120px;
}


