.mainBox {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.curationText {
    font-size: 36px;
    font-weight: bold;
    color: #005600;
}

.barBox {
    display: flex;
}

.runDog{
    position: absolute;
}

.bar {
    width: 594px;
    height: 20px;
    background-color: #005600;
    margin-top: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.progressBar {
    width: 363px;
    height: 20px;
    background-color: #005600;
    opacity: 10%;
    margin-top: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.inputSize {
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #D4D4D4;
    margin-top: 150px;
    text-align: center;
    color: #999999;
}

.nextButton {
    width: 216px;
    height: 56px;
    border-radius: 10px;
    border: 1px solid #D4D4D4;
    background-color: white;
    color: #999999;
    margin-top: 102px;
}