.mainBox {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.curationText {
    font-size: 36px;
    font-weight: bold;
    color: #005600;
}

.progressBar {
    width: 957px;
    height: 20px;
    background-color: #005600;
    opacity: 10%;
    margin-top: 20px;
    border-radius: 10px;
}

.contentBox {
    display: flex;
    width: 636px;
    height: 400px;
}


.textBox {
    display: flex;
    flex-direction: column;
    gap: 70px;
    width: 100px;
    margin-top: 40px;
}

.text {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    height: 43px;
}

.hr {
    width: 400px;
    height: 0;
    background-color: #D4D4D4;
    margin: 0;
    transform: rotate(90deg);
    transform-origin: left;
    margin-top: 30px;
    margin-left: 53px;
    margin-right: -300px;
}

.inputBox{
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 42px;
}

.inputSize {
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #D4D4D4;
    padding: 0;
    padding-left: 5px;
}

.nextButton {
    width: 216px;
    height: 56px;
    border-radius: 10px;
    border: 1px solid #D4D4D4;
    background-color: white;
    color: #999999;
    margin-top: 69px;
    font-weight: bold;
    font-size: 16px;
}

.nextButtonActive {
    width: 216px;
    height: 56px;
    border-radius: 10px;
    background-color: #005600;
    color: white;
    margin-top: 69px;
    font-weight: bold;
    font-size: 16px;
}