.inputContainer {
    width: 120px;
    height: 32px;
    border-radius: 10px;
    border: 1px solid rgba(212, 212, 212, 1);
    background-color: white;
    display: flex;
    float: left;
}

.inputContainer input {
    width: 85px;
    height: auto;
    margin: 0;
    border: 0;
    font-size: 14px;
}

.inputContainer img {
    width: 25px;
    height: 25px;
    cursor: pointer;
    align-self: center;
}

.errorBoundaryContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.errorBoundaryContainer img {
    width: 150px;
    height: 150px;
}

.errorBoundaryContainer p {
    font-weight: bold;
    font-size: 24px;
    color: rgba(153, 153, 153, 1);
}

.loadingBox {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.loadingBox h3 {
    color: rgba(153, 153, 153, 1);
}

.innerLoading {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}