.modalContainer {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-top: 400px;
}

.modalContent {
    border-radius: 10px;
    padding: 20px;
    background-color: white;
}

.detailBox {
    display: flex;
    justify-content: center;
}

.detailBox p {
    font-weight: bold;
    font-size: 14px;
    color: rgba(153, 153, 153, 1);
    margin: 0;
    margin-bottom: 4px;
}

.detailBox span {
    font-size: 14px;
    color: rgba(153, 153, 153, 1);
    margin: 0;
}

.detailBox input {
    width: 120px;
    height: 30px;
    margin-right: 0;
    margin-bottom: 15px;
    font-size: 14px;
    color: rgba(153, 153, 153, 1);
}

.detailBox select {
    width: 130px;
    height: 35px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 15px;
    font-size: 14px;
    color: rgba(153, 153, 153, 1);
}

.detailBox textarea {
    width: 120px;
    height: 30px;
    resize: none;
    border-radius: 10px;
    border: 1px solid rgba(212, 212, 212, 1);
    margin-right: 0;
    margin-bottom: 15px;
    font-size: 14px;
    color: rgba(153, 153, 153, 1);
}

.detailBoxImage {
    width: 170px;
    height: 225px;
    float: left;
}

.detailBoxImage img {
    width: 120px;
    height: 120px;
    padding-top: 30px;
}

.detailBoxShort {
    width: 170px;
    height: 75px;
    float: left;
}

.detailBoxMid {
    width: 340px;
    height: 75px;
    float: left;
}

.detailBoxLong {
    width: 340px;
    height: 75px;
    float: left;
}

.detailBoxFull {
    width: 680px;
    height: 75px;
    clear: both;
}

.spanBox {
    height: 30px;
    padding-top: 5px;
    padding-left: 10px;
    margin-bottom: 15px;
}

.detailBox::-webkit-scrollbar {
    width: 10px;
    top: 30px;
}

.detailBox::-webkit-scrollbar-thumb {
    height: 20%;
    background: rgba(99, 197, 74, 1);
    border-radius: 10px;
}

.detailBox::-webkit-scrollbar-track {
    background: rgba(212, 212, 212, 1);
    border-radius: 10px;
}
/* 
.detailBox::-webkit-scrollbar-button:vertical:start:decrement {
    display: block;
    height: 50px;
} */