*{
    font-family: 'Noto Sans Kr', 'Poppins';
}

.titleContainer{
    flex-direction: column;
    height: 300px;
    display: flex;
    width: 1180px;
    margin: 0 auto;
    align-items: center;
}

.title{

    font-size: 35px;
    font-weight: bold;
    color: #005600;
    display: flex;
    margin-top: 81px;
    padding:0 auto;
    
}

.titleContext{

    margin-top: 42px;
    text-align: center;
}

.link{

    color: #63C54A;
}

.ps{

    color: #999999;
    margin-top: 42px;

}

.searchContainer{

    height: 300px;
    width: 1180px;
    margin: 0 auto;
    align-items: center;

    margin-top: 81px;
}

.selectBox{

    height:40px;
    
}