*{
    font-family: 'Noto Sans KR', 'Poppins';
}

.container{
    width: 1180px;
    min-height: 720px;
    margin: 0 auto;
}


.container1{
    width: 1180px;
    margin: 0 auto;
    display: flex;
}


.container2{
    width: 1180px;
    margin: 0 auto;
}

.linkContainer{
    width: 50px;
    display: contents;
}

.title{
    display: flex;
    position: relative;
    height: 50px;
    margin-left: 50px;
    margin-top: 3%;
}

.text1{
    font-size: 16px;
    font-weight: bold;
}

.text2{
    padding-top: 3px;
    padding-left: 20px;
    font-size: 14px;
    color: #999999;
    cursor: pointer;
}

.text3{
    padding-top: 3px;
    padding-left: 20px;
    font-size: 14px;
    color: #005600;
    cursor: pointer;
}

.line1{
    color: #D4D4D4;
    margin-bottom: 20px;
}

.text4{
    margin-left: 20px;
    font-size: 14px;
    color: black;
    border: 1px solid #63C54A;
    border-radius: 10px;
    color: #999999;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    cursor: pointer;
}

.text5{
    margin-left: 130px;
    font-size: 16px;
    font-weight: bold;
}


.line3{
    width: 930px;
    margin: 0 auto;
    color: #D4D4D4;
    margin-top: 20px;
    margin-bottom: 10px;
}

.spanBox{
    width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.span1{
    font-size: 14px;
}

.line4{
    width: 930px;
    margin: 0 auto;
    color: #D4D4D4;
    margin-top: 10px;
    margin-bottom: 10px;
}

.resultBox{
    width: 980px;
    margin: 0 auto;
    margin-bottom: 7px;
    display: flex;
    justify-content: space-around;
}

.resultBox2{
    width: 980px;
    margin: 0 auto;
    margin-bottom: 7px;
    display: flex;
    justify-content: space-around;
}

.span2{
    font-size: 14px;
}

.span3{
    font-size: 14px;
    margin-left: -15px;
    margin-right: -15px;
}

.btn1{
    border: none;
    background-color: white;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
}

.btn2{
    border: none;
    background-color: white;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
}

.modalCloseBtn {
    width: 110px;
    height: 30px;
    background-color: #005600;
    border: none;
    border-radius: 5px;
    justify-self: center;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }
  
.modalContainer {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.26);
    /* 반투명한 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
  
.modalContent {
    width: 990px;
    height: 420px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.modalLine1 {
    height: 220px;
}

.modalTextContainer{
    width: 830px;
    height: 50px;
    margin: 0 auto;
}

.modalTextContainer2{
    width: 830px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 60px;
}

.modalText1 {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

.spanBox1{
    margin: 0;
    width: 500px;
    height: 220px;
}

.spanBox2 {
    height: 50px;
    display: flex;
    margin-left: 120px;
}

.text6{
    font-size: 14px;
    text-align: left;
    width: 100px;

}

.text7{
    font-size: 14px;
    text-align: left;
    width: 100px;
}

.text8 {
    font-size: 14px;
    text-align: left;
}

.text9 {
    font-size: 14px;
    text-align: left;
}