*{
    font-family: 'Noto Sans Kr', 'Poppins';
}

.container1{
    display: flex;
    width: 1180px;
    position: relative;
    margin: 18px auto;
}

.title{
    flex-direction: column;
    height: 300px;
    display: flex;
    width: 1180px;
    margin: 0 auto;
    position: relative;
}

.titletext1{
    width: 1180px;
    font-size: 35px;
    font-weight: bold;
    color: #005600;
    display: flex;
    margin-top: 3%;
    padding-left: 120px;
}

.titletext2{
    font-size: 16px;
    color: #005600;
    margin-top: 1%;
    padding-left: 120px;
    z-index: 1;
}

.img{
    width: 35%;
    margin-left: 55%;
    position: absolute;
    z-index: 0;

}

.search{
    width: 200px;
    height: 80px;
    margin: 120px;

    background-color: #005600;
    border: none;
    border-radius: 10px;
    
    
    font-size: 18px;
    font-weight: bold;
    color: white;
    display: flex;

}

.container2{
    width: 1180px;
    margin: 0 auto;
}

.size{
    background-color: white;
    color: none;
    border: none;

    font-size: 22px;
    font-weight: bold;
    color: #005600;
    display: flex;

    padding-left: 120px;
}

.formContainer{
    visibility: hidden;
    position: absolute;
    opacity: 0;
}

.modalContainer {
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
  }

