*{
    font-family: 'Noto Sans Kr', 'Poppins';
}

.container1{
    display: flex;
    width: 1180px;
    position: relative;
    margin: 18px auto;
}

.title{
    flex-direction: column;
    height: 300px;
    display: flex;
    width: 1180px;
    margin: 0 auto;
    position: relative;
}

.titletext1{
    width: 1180px;
    font-size: 35px;
    font-weight: bold;
    color: #005600;
    display: flex;
    margin-top: 3%;
    padding-left: 120px;
}

.titletext2{
    font-size: 16px;
    color: #005600;
    margin-top: 1%;
    padding-left: 120px;
    z-index: 1;
}

.img{
    width: 35%;
    margin-left: 55%;
    position: absolute;
    z-index: 0;

}

.form{
    display: flex;
    align-items: center;
    margin-top: 120px;
}

.search{
    
    width: 190px;
    height: 35px;
    margin-left: 120px;
    
    background-color: #005600;
    border: none;
    border-radius: 10px;
    
    
    font-size: 18px;
    color: white;

    letter-spacing: 0.7px;
    padding-left: 20px;

}

.searchButton{
    
    cursor: pointer;
    width: 50px;
    
    background-color: white;
    border: none;

    > img {
        width:25px;
    }

}

.container2{
    width: 1180px;
    margin: 0 auto;
}

.size{
    background-color: white;
    color: none;
    border: none;

    font-size: 22px;
    font-weight: bold;
    color: #005600;
    display: flex;

    margin-left: 120px;

    cursor: pointer;
}

.formContainer{
    visibility: hidden;
    position: absolute;
    opacity: 0;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px; 
  padding: 16px; 
  max-width: 1050px;
  margin: auto;
}

.error{
    font-size: 20px;
    margin: auto;
}

.modalContainer {
    margin: 15px auto;
    width: 230px;
    height: 230px;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    font-size: 16px;
    color: black;
    
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  .dogImages{
   width:auto; height: auto;
   max-width: 200px;
   max-height: 170px;
  }

  .dogName{
    font-size: 16.5px;
  }