* {
    font-family: 'Noto Sans Kr', 'Poppins';
}

.container1 {
    display: flex;
    width: 1180px;
    position: relative;
    margin: 18px auto;
}

.container2 {
    width: 1000px;
    margin: 18px auto;
}

.title {
    flex-direction: column;
    height: 300px;
    display: flex;
    width: 1180px;
    margin: 0 auto;
    position: relative;
}

.titletext1 {
    width: 1180px;
    font-size: 35px;
    font-weight: bold;
    color: #005600;
    display: flex;
    margin-top: 3%;
    padding-left: 120px;
}

.titletext2 {
    width: 50%;
    font-size: 20px;
    color: black;
    margin-top: 1%;
    padding-left: 131px;
    z-index: 1;

    letter-spacing: 0.2px;
    word-spacing: 4px;
    line-height: 160%;
}

.img{
    position: absolute;
    width: 400px;
    height: 400px;
    margin-left: 60%;
    object-fit: contain;
    filter: grayscale(100);
}

.detailtitle {
    font-size: 20px;
    font-weight: bold;
    color: #005600;

    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
}

.grid1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    margin-bottom: 30px;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 0px;
    margin-bottom: 30px;
    color: black;
    
}

.grid4 {
    max-height: 120px;
    overflow-y: scroll;
    color: black;
    line-height: 200%;

}

.grid4::-webkit-scrollbar{
    width: 10px;
}

.grid4::-webkit-scrollbar-thumb{
    height: 20%;
    background-color: #005600;
    border-radius: 10px;
    
}

.grid4::-webkit-scrollbar-track{
    background-color: white;
    border-radius: 10px;

}

.grid5 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-top: 5px;
    padding-left: 50px;
    color: black;

    grid-template-columns: 325px 325px 325px;
}

.grid6 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 110px;
}

.detailcontext1 {

    color: #63C54A;
    font-size: 18px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 30px;

}

.detailcontext2 {

    color: black;
    font-size: 18px;
    margin-left: 70px;

}

.paw{
    width: 20px;
    height: 20px;
    display: flex;
    gap: 10px;
}