header{
    display: flex;
    margin: 0 auto;
    margin-top: 38px;
    width: 1180px;
    height: 44px;
    background-color: #005600;
    border-radius: 10px;
   }
   
   a{
       color: white;
       text-decoration: none;
   }
   
   .all{
       width: 1180px;
   }
   
   .container{
       display: flex;
       margin-top: 10px;
       justify-content: space-between;
       margin-left: 30px;
       margin-right: 30px;
   }
   
   .leftText, .rightText{
       font-size: 14px;
   }
   
   .leftText{
       margin-left: 22px;
   }
   
   .rightText {
       margin-right: 22px;
   }
   
   .mainText{
       font-size: 16px;
       font-weight: bold;
   }