*{
    font-family: 'Noto Sans KR', 'Poppins';
}

.modal {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.26);
    /* 반투명한 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  
  .modal_wrap {
    width: 500px;
    height: 260px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-rows: 2fr 1fr;
  }
  
  .modal_content {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    align-self: center;
  }
  
  .modal_btn {
    width: 110px;
    height: 30px;
    line-height: 30px;
    background-color: #005600;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
    justify-self: center;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }