.container {
    width: 1180px;
    margin: 10px auto;
}

.container hr {
    width: 95%;
}

.titleBox {
    margin-left: 30px;
}

.titleBox p {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}

.noticeList {
    width: 95%;
    margin: 0 auto;
}