.container {
    width: 1180px;
    margin: 30px auto;
}

.titleBox {
    width: 1060px;
    margin-left: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-weight: bold;
    font-size: 24px;
    margin: 0
}

.searchAndWriteBox {
    display: flex;
    align-items: center;
}

.wrapBox {
    display: flex;
    align-items: center;
}

.searchBox {
    width: 250px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #D4D4D4;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.searchBox input {
    width: 190px;
    height: 35px;
    border-radius: 10px;
    border: 0;
    outline: none;
    margin-right: 10px;
    padding-left: 10px;
    font-size: 16px;
    color: #999999;
}

.searchBox input::placeholder {
    font-size: 16px;
    color: #999999;
}

.searchBox button {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background-color: white;
    border: 0;
    cursor: pointer;
}

.button {
    width: 120px;
    height: 35px;
    border-radius: 10px;
    background-color: #005600;
    border: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white;
}

.emptyBox {
    width: 1180px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emptyBox p {
    font-size: 16px;
    color: #999999;
}

.postList {
    width: 1100px;
    margin: 30px auto;
}