.box{
    display: flex;
    margin-left: 340px;
    margin-top: 65px;
}

.searchBox {
    width: 500px;
    height: 52px;
    border: 2px solid #005600;
    border-radius: 50px;
    padding-left: 30px;
    font-size: 16px;
    background-image: url("/public/images/product/Search.png"), url("/public/images/product/Line.png"), url("/public/images/product/Filter.png");
    background-position: calc(100% - 23px) center, calc(100% - 62px) center, calc(100% - 81px) center;
    background-repeat: no-repeat;
    background-size: 25px 0px 20px;
    position: relative;
}

.filterIcon {
    position: absolute;
    right: 81px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.searchIcon {
    position: absolute;
    right: 23px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

input::placeholder {
    font-size: 16px;
    font-weight: 500;
    color: #999999;
}

.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.26);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modalContent {
    width: 800px;
    height: 850px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.allBox {
    width: 700px;
    height: 700px;
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modalText {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.modalHr {
    width: 100%;
    border: 1px solid #D4D4D4;
    margin: 0;
}

.modalButton {
    width: 70px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #D4D4D4;
    background-color: white;
    color: #999999;
    cursor: pointer;
}

.modalButtonClick {
    width: 70px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #005600;
    background-color: #005600;
    color: white;
}

.range {
    width: 330px;
    height: 6px;
    border-radius: 5px;
    accent-color: #005600;
}

.modalCancelButton {
    width: 150px;
    height: 47px;
    border-radius: 10px;
    border: 1px solid #D4D4D4;
    color: #999999;
    background-color: white;
}

.modalCheckButton {
    width: 150px;
    height: 47px;
    border-radius: 10px;
    border: 1px solid #005600;
    color: white;
    background-color: #005600;
}

.selectBox {
    width: 100px;
    height: 58px;
    border: 2px solid #005600;
    border-radius: 50px;
    margin-left: 10px;
    padding: 10px;
    font-size: 16px;
    color: #999999;
    font-weight: 500;
}

.productsAllBox {
    width: 940px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.productsBox {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 80px;
}

.productsBox:hover {
    transform: scale(1.1);
}

.prodText {
    margin: 0;
    color: #999999;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    height: 47px;
}

.productHover{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.56);
    width: 282px;
    height: 282px;
    display: none;
}

.productsBox:hover .productHover,
.productsBox2:hover .productHover {
    display: block;
}

.productsBox2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 80px;
}