.allBox {
    width: 967px;
    margin: 0 auto;
    margin-top: 150px;
}

.prodBox {
    display: flex;
}

.textBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 100px;
}

.prodTextBox {
    display: flex;
    width: 400px;
}

.imgBox {
    width: 400px;
    height: 500px;
}

.nameText {
    font-weight: bold;
    font-size: 28px;
    margin: 0;
    width: 400px;
}

.manufacText {
    font-weight: bold;
    font-size: 22px;
    color: #999999;
    margin: 0;
}

.priceText {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}

.prodText {
    font-weight: bold;
    font-size: 20px;
    color: #999999;
    margin: 0;
    margin-left: 10px;
    width: 350px;
}

.prodTextSite {
    font-weight: bold;
    font-size: 20px;
    color: #999999;
    margin: 0;
    margin-left: 5px;
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.hr {
    width: 400px;
    border: 1px solid #D4D4D4;
    margin: 0;
}

.addressBox {
    display: flex;
    align-items: center;
    width: 400px;
    cursor: pointer;
}

.allSimilarBox {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.similarProductBox {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 60px;
    gap: 20px;
    margin-left: 3%;
}

.button {
    background-color: #005600;
    border: 1px solid #005600;
    width: 150px;
    height: 46px;
    border-radius: 10px;
    color: white;
    margin: 0 auto;
    cursor: pointer;
}

.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.26);
    /* 반투명한 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modalContent {
    width: 800px;
    height: 900px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.comparisonBox {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 45%;
    margin-left: 60px;
    margin-top: 40px;
}

.comparisonText {
    font-weight: bold;
    font-size: 12px;
    color: #999999;
    margin: 0;
    margin-left: 10px;
    width: 250px;
}

.comparisonTextSite{
    font-weight: bold;
    font-size: 12px;
    color: #999999;
    margin: 0;
    margin-left: 5px;
    width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
.comparisonTextBox {
    display: flex;
    width: 400px;
}

.hr2 {
    width: 959px;
    border: 1px solid #D4D4D4;
}

.hrText {
    font-size: 24px;
    color: #999999;
    font-weight: bold;
}

.naverText {
    font-size: 20px;
    font-weight: bold;
}

.volumeBox {
    display: flex;
    flex-wrap: wrap;
}

.volumeButton {
    width: 70px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #D4D4D4;
    border-radius: 10px;
    color: #999999;
    margin-left: 10px;
    cursor: pointer;
}

.volumeButtonActive {
    width: 70px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #005600;
    background-color: #005600;
    border-radius: 10px;
    color: white;
    margin-left: 10px;
    cursor: pointer;
}